{% extends './includes/base.html' %}
{% load static %}

{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/vendor/css/datatables.min.css' %}">
{% endblock pagecss %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% include './includes/messages.html' %}
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-header">Sales Invoice</h5>
            </div>
            <div class="card-content m-3">
                <div class="table-responsive text-nowrap">
                    <table class="table" id="MydataTable">
                        <caption class="ms-3">Sales list</caption>
                        <thead>
                            <tr>
                                <th>Request by</th>
                                <th>Customer</th>
                                <th>Order</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice in sales_invoice %}
                            <tr>
                                <td>
                                    <span class="fw-medium">
                                        {{ invoice.request_by.username }}
                                    </span>
                                </td>
                                <td>{{ invoice.customer_name }}</td>
                                <td>
                                    <ul>
                                        {% for order in invoice.request_order.all %}
                                        <li>
                                            {{ order.sale_product.product_warehouse_product.warehouse_product_name }}
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {% if invoice.request_status %}
                                    <span class="badge bg-label-primary me-1">
                                        Invoiced
                                    </span>
                                    {% else %}
                                    <span class="badge bg-label-danger me-1">
                                        Processing
                                    </span>
                                    {% endif %}
                                </td>
                                <td>{{ invoice.requested_date }}</td>
                                <td>
                                    {% if invoice.request_status %}
                                    <a href="{% url 'generate_sales_invoice_admin' customer=invoice.customer_name encoder=invoice.request_by.username request_id=invoice.request_id %}" class="btn btn-primary">
                                        Download
                                    </a>
                                    {% else %}
                                    <a href="#" class="btn btn-danger">
                                        Need Approval
                                    </a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block pagejs %}
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#MydataTable").DataTable();
    });
</script>
{% endblock pagejs %}
