{% extends 'includes/base.html' %}
{% load static %}

{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/vendor/css/datatables.min.css' %}">
{% endblock pagecss %}

{% block content %}
<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="card-header">Warehouse Product List</h5>
        <div class="m-3">
            <a href="#" class="btn btn-primary">
                <i class="bx bx-plus me-sm-1"></i>
                Add Warehouse Product
            </a>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table" id="MydataTable">
            <caption class="ms-4">List of lubricant products</caption>
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Stock</th>
                    <th>Supplier</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for warehouseproduct in warehouseproducts %}
                <tr>
                    <td>
                        <span class="fw-medium">
                            {{ warehouseproduct.warehouse_product_name }}
                        </span>
                    </td>
                    <td>{{ warehouseproduct.warehouse_product_stock }}</td>
                    <td>{{ warehouseproduct.warehouse_product_supplier.supplier_companyname }}</td>
                    <td><span class="badge bg-label-primary me-1">Active</span></td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" data-warehouseproduct="{{ warehouseproduct.warehouse_product_id }}" href="javascript:void(0);">
                                    <i class="bx bx-edit-alt me-1"></i>
                                    Edit
                                </a>
                                <a class="dropdown-item" data-warehouseproduct="{{ warehouseproduct.warehouse_product_id }}" href="javascript:void(0);">
                                    <i class="bx bx-trash me-1"></i>
                                    Delete
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block pagejs %}
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/ui-tables.js' %}"></script>
{% endblock pagejs %}