{% extends 'includes/base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <form method="POST" method="post">
            {% csrf_token %}
            <div class="card-body">
                <h5>Remove Existing Record?</h5>
                <p>Are you sure you want to remove <span class="fw-bold">"{{ object }}"</span> record? This action cannot be undone after you delete this. </p>
                <button type="button" onclick="window.history.back()" class="btn btn-primary mr-2">Back</button>
                <button type="submit" class="btn btn-danger">Yes, agree</button>
            </div>
        </form>
    </div>
{% endblock content %}