{% if messages %}
    {% for message in messages %}

        {% if message.extra_tags == "add_success" or message.extra_tags == "edit_success" %}
        <div class="alert alert-primary d-flex" role="alert">
            <span class="badge badge-center rounded-pill bg-primary border-label-primary p-3 me-2">
                <i class="bx bx-check fs-6"></i>
            </span>
            <div class="d-flex flex-column ps-1">
                <h6 class="alert-heading d-flex align-items-center mb-1">Success</h6>
                <span>{{ message }}</span>
            </div>
        </div>
        {% endif %}

        {% if message.extra_tags == "delete_success" %}
        <div class="alert alert-danger d-flex" role="alert">
            <span class="badge badge-center rounded-pill bg-danger border-label-danger p-3 me-2">
                <i class="bx bx-check fs-6"></i>
            </span>
            <div class="d-flex flex-column ps-1">
                <h6 class="alert-heading d-flex align-items-center mb-1">Success</h6>
                <span>{{ message }}</span>
            </div>
        </div>
        {% endif %}


        {% if message.extra_tags == "some_error" or message.extra_tags == "not_enought_permission" %}
        <div class="alert alert-danger d-flex" role="alert">
            <span class="badge badge-center rounded-pill bg-danger border-label-danger p-3 me-2">
                <i class="bx bx-x fs-6"></i>
            </span>
            <div class="d-flex flex-column ps-1">
                <h6 class="alert-heading d-flex align-items-center mb-1">Ohhh nooo</h6>
                <span>{{ message }}</span>
            </div>
        </div>
        {% endif %}

        {% if message.extra_tags == "auth_invalid" or message.extra_tags == "login_inactive" or message.extra_tags == "login_invalid" or message.extra_tags == "login_error" or message.extra_tags == "not_logged_in" %}
        <div class="alert alert-danger d-flex" role="alert">
            <span class="badge badge-center rounded-pill bg-danger border-label-danger p-3 me-2">
                <i class="bx bx-x fs-6"></i>
            </span>
            <div class="d-flex flex-column ps-1">
                <h6 class="alert-heading d-flex align-items-center mb-1">Ohhh nooo</h6>
                <span>{{ message }}</span>
            </div>
        </div>
        {% endif %}

        {% if message.extra_tags == "auth_success" %}
        <div class="alert alert-primary d-flex" role="alert">
            <span class="badge badge-center rounded-pill bg-primary border-label-primary p-3 me-2">
                <i class="bx bx-check fs-6"></i>
            </span>
            <div class="d-flex flex-column ps-1">
                <h6 class="alert-heading d-flex align-items-center mb-1">Success</h6>
                <span>{{ message }}</span>
            </div>
        </div>
        {% endif %}
            
    {% endfor %}
{% endif %}
