{% load static %}
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img src="{% static '/assets/img/favicon/seaoil-logo.svg' %}" alt="" srcset="">
            </span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>
    {% if request.user.user_type == "Cashier" %}
    <ul class="menu-inner py-1">
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Dashboard</span>
        </li>
        <li class="menu-item active">
            <a href="{% url 'main_page' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Analytics</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">User Management</span>
        </li>
        <li class="menu-item">
            <a href="{% url 'users_index' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Users</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Inventory Management</span>
        </li>
        <li class="menu-item">
            <a href="{% url 'warehouseproducts_index' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Warehouse Products</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'products_index' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Products</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'inventory_index' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Inventory</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Sales Management</span>
        </li>
        <li class="menu-item">
            <a href="{% url 'sales_index' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Sales</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Others</span>
        </li>
        <li class="menu-item">
            <a href="{% url 'category_index' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Product Category</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="{% url 'supplier_index' %}" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Supplier</div>
            </a>
        </li>
    </ul>
    {% elif request.user.user_type == "Manager" %}
    <ul class="menu-inner py-1">
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Manager Pages</span>
        </li>
        <li class="menu-item active">
            <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Reports</div>
            </a>
        </li>
    </ul>
    {% else %}
    <ul class="menu-inner py-1">
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Attendant Pages</span>
        </li>
        <li class="menu-item active">
            <a href="#" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Basic">Inventory</div>
            </a>
        </li>
    </ul>
    {% endif %}
</aside>
