<div style="position: fixed; bottom: 0; right: 0;" class="m-3">
    <div class="bs-toast toast fade show bg-danger mb-3" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <i class='bx bx-bell me-2'></i>
          <div class="me-auto fw-medium">Stock Notifier</div>
          <small>now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          The "Gasoline Engine Oil SAE40" is in low stock, please re-stock the item.
        </div>
    </div>
    <div class="bs-toast toast fade show bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <i class='bx bx-bell me-2'></i>
          <div class="me-auto fw-medium">Stock Notifier</div>
          <small>now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          The "Gasoline Engine Oil SAE40" is in low stock, it is time to replenish the item.
        </div>
    </div>
</div>