<div style="position: fixed; bottom: 0; right: 0;" class="m-3 stockNotifierContainer">
    {% for stock_check in warehouse_product_stock_check %}
    <div
        class="bs-toast toast fade show bg-warning mb-3"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">Stock Warning</div>
            <small>now</small>
            <button
                type="button"
                class="btn-close"
                data-bs-dismiss="toast"
                aria-label="Close"
            ></button>
        </div>
        <div class="toast-body">
            The item
            <b>{{ stock_check.warehouse_product_name }}</b> has
            <b>{{ stock_check.warehouse_product_stock }}</b>
            stock/s left in the inventory, please replenish your item.
        </div>
    </div>
    {% endfor %}
</div>
