{% extends './../includes/base.html' %}
{% load static %}

{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/vendor/css/datatables.min.css' %}">
{% endblock pagecss %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% include './../includes/messages.html' %}
    </div>
    <div class="col-md-12">
        <div class="mb-2">
            <h4>All Sales</h4>
        </div>
        <div class="card">
            <div class="card-content m-3">
                <div class="table-responsive text-nowrap">
                    <table class="table" id="MydataTable">
                        <caption class="ms-3">Sales list</caption>
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Total Order</th>
                                <th>Product Image</th>
                                <th>Product Quantity</th>
                                <th>Encoded By</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in sales_invoice %}
                            <tr>
                                <td>{{ sale.sale_customername }}</td>
                                <td>{{ sale.sale_quantity }}</td>
                                <td>
                                    <img src="/media/{{ sale.img }}" alt="{{ sale.sale_customername }}" width="70" height="70">
                                </td>
                                <td>{{ sale.count_sale }}</td>
                                <td>{{ sale.encoded_by__username }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'generate_sales_invoice' name=sale.sale_customername encoder=sale.encoded_by__username invoice_type=type %}">
                                                <i class="bx bx-download me-1"></i>
                                                Download Invoice
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block pagejs %}
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#MydataTable").DataTable();
    });
</script>
{% endblock pagejs %}
