{% extends './../includes/base.html' %}
{% load static %}

{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/vendor/css/datatables.min.css' %}">
{% endblock pagecss %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% include './../includes/messages.html' %}
    </div>
    <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-2">
            <h4>My Sales</h4>
            <button data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-primary">Add New Sale</button>
        </div>
        <div class="card">
            <div class="card-content m-3">
                <div class="table-responsive text-nowrap">
                    <table class="table" id="MydataTable">
                        <caption class="ms-3">Sales list</caption>
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Amount</th>
                                <th>Customer Name</th>
                                <th>Encoded By</th>
                                <th>Date Encoded</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in sales %}
                            <tr>
                                <td>
                                    <span class="fw-medium">
                                        {{ sale.sale_product.product_warehouse_product.warehouse_product_name }}
                                    </span>
                                </td>
                                <td>{{ sale.sale_amount }}</td>
                                <td>{{ sale.sale_customername }}</td>
                                <td>{{ sale.encoded_by }}</td>
                                <td>{{ sale.sale_date_added }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'attendant_sale_edit' pk=sale.sale_id %}">
                                                <i class="bx bx-edit-alt me-1"></i>
                                                Edit
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include './add_sale.html' %}
{% endblock content %}

{% block pagejs %}
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $("#MydataTable").DataTable();
    });
</script>
{% endblock pagejs %}
