{% extends 'includes/base.html' %}
{% load static %}


{% block pagecss %}
<link rel="stylesheet" href="{% static 'assets/vendor/css/datatables.min.css' %}">
{% endblock pagecss %}

{% block content %}
{% include './../includes/messages.html' %}
<div class="d-flex justify-content-between align-items-center mb-2">
    <h4>Invoice Request</h4>
    <button data-bs-toggle="modal" data-bs-target="#addModal" class="btn btn-primary">Add Request Invoice</button>
</div>
<div class="card">
    <div class="table-responsive text-nowrap">
        <table class="table" id="MydataTable">
            <caption class="ms-3">List of request</caption>
            <thead>
                <tr>
                    <th>Request by</th>
                    <th>Customer</th>
                    <th>Order</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for request_sale in request_list %}
                <tr>
                    <td>
                        <span class="fw-medium">
                            {{ request_sale.request_by.username }}
                        </span>
                    </td>
                    <td>{{ request_sale.customer_name }}</td>
                    <td>
                        <ul>
                        {% for order in request_sale.request_order.all %}
                            <li>
                                {{ order.sale_product.product_warehouse_product.warehouse_product_name }}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                    <td>
                        {% if request_sale.request_status %}
                            <span class="badge bg-label-primary me-1">
                                Invoiced
                            </span>
                        {% else %}
                            <span class="badge bg-label-danger me-1">
                                Processing
                            </span>
                        {% endif %}
                    </td>
                    <td>{{ request_sale.requested_date }}</td>
                    <td>
                        {% if request_sale.request_status %}
                            <a href="{% url 'generate_sales_invoice' customer=request_sale.customer_name encoder=request.user.username request_id=request_sale.request_id %}
                            " class="btn btn-primary">
                                Download
                            </a>
                        {% else %}
                            <a href="#" class="btn btn-danger">
                                Need Approval
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include './add_request.html' %}
{% endblock content %}

{% block pagejs %}
<script src="{% static 'assets/js/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/ui-tables.js' %}"></script>
{% endblock pagejs %}
